[Unit]
Description=relaycreator app
Wants=network.target

[Service]
ExecStart=/app/node_modules/.bin/next start
WorkingDirectory=/app
Restart=always
User=root
Environment=NODE_ENV=production
Type=simple
TimeoutStopSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
