[Unit]
Description=relaycreator deployment

[Service]
ExecStart=/usr/local/bin/deploy.sh
WorkingDirectory=/app
User=root
Environment=NODE_ENV=production
Restart=no

[Install]
WantedBy=multi-user.target