[Unit]
Description=haproxycheck
Wants=network.target

[Service]
EnvironmentFile=/etc/haproxy/.cookiecutter.env
ExecStart=/usr/local/bin/cookiecutter haproxydeploy
WorkingDirectory=/etc/haproxy
User=root
Group=root

[Install]
WantedBy=multi-user.target