[Unit]
Description=strfrycheck
Wants=network.target

[Service]
EnvironmentFile=/etc/haproxy/.cookiecutter.env
ExecStart=/usr/local/bin/cookiecutter strfrydeploy
WorkingDirectory=/etc/haproxy
User=root
Group=root
