[Unit]
Description=strfrycheck
Wants=network.target

[Service]
EnvironmentFile=/app/allfry/.cookiecutter.env
ExecStart=/usr/local/bin/cookiecutter strfrydeploy
WorkingDirectory=/app/allfry
User=root
Group=root
